flows.json
[
    {
        "id": "a9811bd304aac560",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c4dbfd798c655bc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0cda22a918fb0a82",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e171432bbb3c8246",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2cb7d9050167ea23",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iotsecond_broker_1",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ccb66277295561bf",
        "type": "MySQLdatabase",
        "name": "",
        "host": "iotsecond_mysql_1",
        "port": "3306",
        "db": "TimeSeries",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5132b63e3994f016",
        "type": "inject",
        "z": "a9811bd304aac560",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "a1da78cfa1096c1c",
                "56c980b2331d6e3c"
            ]
        ]
    },
    {
        "id": "a1da78cfa1096c1c",
        "type": "debug",
        "z": "a9811bd304aac560",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "56c980b2331d6e3c",
        "type": "mqtt out",
        "z": "a9811bd304aac560",
        "name": "",
        "topic": "TimeStamp",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2cb7d9050167ea23",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "3d7e1d863f56cd7e",
        "type": "http in",
        "z": "6c4dbfd798c655bc",
        "name": "",
        "url": "/pub/:topic/:payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "12a085476f7be13d"
            ]
        ]
    },
    {
        "id": "12a085476f7be13d",
        "type": "function",
        "z": "6c4dbfd798c655bc",
        "name": "create_message",
        "func": "msg.topic = msg.req.params.topic.toString();\nmsg.payload = msg.req.params.payload.toString();\nmsg.qos = 2;\nmsg.retain = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "e91c3589998dfda7",
                "6e861b02c3b41e03"
            ]
        ]
    },
    {
        "id": "e91c3589998dfda7",
        "type": "function",
        "z": "6c4dbfd798c655bc",
        "name": "create_response",
        "func": "msg.payload = {\n    success: true,\n    message: \"published \" +\n    msg.req.params.topic +\n    \"/\" +\n    msg.req.params.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 220,
        "wires": [
            [
                "6c77b9e3a01c2c3c"
            ]
        ]
    },
    {
        "id": "6c77b9e3a01c2c3c",
        "type": "http response",
        "z": "6c4dbfd798c655bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "6e861b02c3b41e03",
        "type": "mqtt out",
        "z": "6c4dbfd798c655bc",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2cb7d9050167ea23",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "f14ca2886422e801",
        "type": "mqtt in",
        "z": "0cda22a918fb0a82",
        "name": "listen_everything",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "2cb7d9050167ea23",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ba5d568934b45bce"
            ]
        ]
    },
    {
        "id": "ba5d568934b45bce",
        "type": "function",
        "z": "0cda22a918fb0a82",
        "name": "create_query",
        "func": "// Create query\n// get microtime\nvar timestamp = new Date().getTime()/1000;\n// pad it with trailing zeroes\ntimestamp = timestamp.toString() + \"000\";\n// trim to exact length 10 + 1 + 3\ntimestamp = timestamp.substring(0, 14);\nvar strQuery = \"INSERT INTO thingData (topic, payload, timestamp, deleted) VALUES ('\" + escape(msg.topic) + \"','\" + escape(msg.payload) + \"','\" + timestamp + \"', 0);\";\nmsg.topic = strQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "94c5eef92930768a"
            ]
        ]
    },
    {
        "id": "94c5eef92930768a",
        "type": "mysql",
        "z": "0cda22a918fb0a82",
        "mydb": "ccb66277295561bf",
        "name": "",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "d1972ed191b6c3ba"
            ]
        ]
    },
    {
        "id": "d1972ed191b6c3ba",
        "type": "debug",
        "z": "0cda22a918fb0a82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "2ff73c0fbbda6826",
        "type": "http in",
        "z": "e171432bbb3c8246",
        "name": "",
        "url": "/get/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "6ef3801903cdc1b5"
            ]
        ]
    },
    {
        "id": "5a7324f574a5f162",
        "type": "http in",
        "z": "e171432bbb3c8246",
        "name": "",
        "url": "/get/:topic/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "6ef3801903cdc1b5"
            ]
        ]
    },
    {
        "id": "6ef3801903cdc1b5",
        "type": "function",
        "z": "e171432bbb3c8246",
        "name": "create_query",
        "func": "// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\nmsg.req.params.count = 1;\n// build the sql query\nmsg.topic = \"SELECT id,topic,payload,timestamp \" +\n\"FROM thingData \" +\n\"WHERE topic='\" + escape(msg.req.params.topic) + \"' \" +\n\"AND deleted=0 \" +\n\"ORDER BY id DESC \" +\n\"LIMIT \" + msg.req.params.count + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "c80faf9a7def6980"
            ]
        ]
    },
    {
        "id": "c80faf9a7def6980",
        "type": "mysql",
        "z": "e171432bbb3c8246",
        "mydb": "ccb66277295561bf",
        "name": "",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "adf062505d0893ee"
            ]
        ]
    },
    {
        "id": "adf062505d0893ee",
        "type": "function",
        "z": "e171432bbb3c8246",
        "name": "prepare_response",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "5c7d2fd25e93e35c"
            ]
        ]
    },
    {
        "id": "5c7d2fd25e93e35c",
        "type": "http response",
        "z": "e171432bbb3c8246",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 360,
        "wires": []
    }
]